@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700");
* {
  line-height: 22px; }

body, div, ul, li, nav, p, a, img, input, span,
form, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  text-align: center; }

.row {
  padding: 50px 10px 50px 10px; }

.row-cont {
  max-width: 1400px;
  margin: 0 auto; }

header {
  background-color: #dcdcdc;
  background-size: cover;
  color: #fff;
  font-family: "PT Sans", Arial, sans-serif; }

.fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%; }

.logo {
  float: left;
  padding-top: 20px;
  padding-left: 210px; }
  .logo > a > svg {
    transition: transform 1s; }
    .logo > a > svg:hover {
      transform: scale(1.1); }

.phone_number_1 {
  color: #767676;
  float: right;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px; }
  .phone_number_1 p {
    line-height: 10px; }

@media screen and (max-width: 1400px) {
  .phone_number_1 {
    padding-right: 20%; } }
@media screen and (max-width: 769px) {
  .phone_number_1 {
    padding-right: 45%; } }
@media screen and (max-width: 450px) {
  .phone_number_1 {
    padding-right: 20%; } }
@media screen and (max-width: 350px) {
  .phone_number_1 {
    padding-right: 14%; } }
.clear {
  clear: both; }

@media screen and (max-width: 769px) {
  .logo {
    padding-top: 10%;
    padding-left: 20%; } }
@media screen and (max-width: 350px) {
  .logo {
    padding-top: 8%;
    padding-left: 9%; } }
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

.menu {
  max-height: 80px;
  background-color: #777777;
  text-align: center; }

.basic_menu ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-left: auto; }

.basic_menu ul li {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  padding: 10px 0; }

.basic_menu ul li:after {
  content: '|';
  margin-left: 24px;
  margin-right: 24px;
  color: #fff; }

.basic_menu ul li:last-child:after {
  content: '';
  margin-right: 0;
  margin-left: 0; }

.basic_menu ul li:focus, .basic_menu a:hover {
  border-bottom: 2px solid #fff; }

@media screen and (max-width: 769px) {
  .basic_menu ul {
    display: block;
    font-size: 18px; }

  .basic_menu ul li {
    font-size: 16px; } }
@media screen and (max-width: 769px) {
  .basic_menu ul li:after {
    content: '';
    margin-left: 0;
    margin-right: 0;
    color: #fff; } }
@media screen and (max-width: 769px) {
  .basic_menu {
    display: none;
    position: absolute;
    z-index: 100;
    right: 0;
    width: 150px;
    background: rgba(81, 95, 103, 0.85); } }
@media screen and (max-width: 769px) {
  .fixed {
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1000; } }
#mobile_menu {
  display: none;
  width: 60px;
  height: 60px;
  margin: 0 20px 0 auto;
  position: relative; }

.first, .second, .third {
  display: block;
  float: right;
  width: 45px;
  height: 3px;
  background-color: #fff;
  margin: 7px 0;
  border-radius: 40px;
  transition: all 0.45s; }

.activ_span_one {
  background-color: red;
  position: absolute;
  top: 10px;
  left: -5px;
  transform: rotate(-45deg); }

.activ_span_two {
  display: none; }

.activ_span_three {
  background-color: red;
  position: absolute;
  top: 10px;
  right: 9px;
  transform: rotate(45deg); }

@media screen and (max-width: 769px) {
  #mobile_menu {
    display: block; } }
.slider {
  background-color: #F8F8F8;
  background-size: cover;
  max-width: 100%; }

.slider .slide1, .slider .slide2, .slider .slide3 {
  outline: none; }

.slider .slick-dots {
  bottom: -40px; }

.slick-prev, .slick-next {
  z-index: 1001;
  width: 32px;
  height: 32px; }

.slick-prev:before, .slick-next:before {
  font-size: 32px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); }

.slick-next {
  right: 25px; }

.slick-prev {
  left: 25px; }

.slider__zag, .slider_desc {
  margin: 0;
  padding: 10px; }

.slick-dots li button {
  border: 2px solid #777;
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: border-color .3s; }

.slick-dots li button:before {
  content: '';
  width: 10px;
  height: 10px;
  background: #777;
  opacity: 1;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin: -5px 0 0 -5px;
  transition: background .3s; }

.slick-dots li button:hover,
.slick-dots li.slick-active button {
  border-color: #ccc; }

.slick-dots li button:hover:before,
.slick-dots li.slick-active button:before {
  background: #fff; }

.about-us {
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 0; }

.about-us--left {
  width: 350px;
  height: 560px;
  background-color: #777777;
  display: inline-block;
  margin-right: 10%;
  vertical-align: top;
  font-family: "PT Sans", Arial, sans-serif; }
  .about-us--left p {
    letter-spacing: 1.2;
    padding-left: 10%;
    font-size: 14px;
    color: #fff; }
  .about-us--left a {
    color: #fff;
    cursor: pointer;
    text-decoration: underline; }

#archive_news {
  padding-top: 18px;
  padding-right: 20px;
  float: right; }

.about-us__title {
  padding-left: 10%;
  color: #fefbfc;
  font-size: 36px;
  font-weight: bold;
  font-family: "PT Sans", Arial, "sans-serif"; }

.about-us--right {
  width: 58%;
  display: inline-block;
  font-size: 14px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  padding-top: 0; }

.about-us__text {
  font-size: 14px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 300;
  color: #767676; }
  .about-us__text .content_title {
    line-height: 22px;
    font-size: 36px;
    color: #767676; }

@media screen and (max-width: 840px) {
  .about-us {
    margin-top: 30px;
    margin-bottom: 10px; }

  .about-us .row-cont {
    display: flex;
    flex-direction: column; }

  .about-us--left {
    order: 1;
    width: 100%;
    max-width: 100%;
    background-size: cover;
    height: 560px; }

  .footer {
    font-size: 12px;
    max-width: 100%;
    background-size: cover; }

  .footer_menu {
    margin-left: 2%;
    margin-right: 5%; }

  .about-us--right {
    order: 2;
    width: 100%; }

  .about-us__text {
    font-size: 14px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 300;
    color: #767676; }
    .about-us__text .content_title {
      font-size: 25px;
      color: #767676; } }
.footer {
  left: 0;
  bottom: 0;
  padding: 10px;
  background: #767676;
  color: #fff; }

.footer .row-cont {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between; }
  .footer .row-cont .footer_menu ul a {
    cursor: pointer; }
  .footer .row-cont a {
    color: #fff; }
  .footer .row-cont .footer_text {
    color: #fff; }

.footer_menu ul li:focus, .footer_menu a:hover {
  border-bottom: 2px solid #B3B3B3; }

/*# sourceMappingURL=style.css.map */
